<nav class="surface-overlay px-6 lg:px-3 xl:px-6 border-bottom-1 surface-border shadow-2 flex justify-content-between relative lg:static" style="min-height: 84px; width:100%">
  <a [routerLink]="['/']" class="mr-0 lg:mr-6 align-self-center">
  <img src="assets/images/car-logo2.svg" alt="Image" height="40" class="mr-0 lg:mr-6 align-self-center">
  </a>
  <a pRipple class="cursor-pointer block lg:hidden align-self-center text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
    <i class="pi pi-bars text-4xl"></i>
  </a>
  <div class="flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full surface-overlay left-0 top-100 z-1 shadow-2 lg:shadow-none">
    <ul class="list-none p-0 m-0 flex select-none flex-column lg:flex-row">
      <li *ngFor="let item of items">
        <a pRipple
           class="flex px-6 p-3 h-full lg:px-3 lg:py-2 align-items-center text-600 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent hover:border-blue-500 font-medium cursor-pointer transition-colors transition-duration-150"
          href="{{item.routerLink}}">
          <i class="pi {{item.iconClass}} mr-2"></i>
          <span>{{item.label}}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
