<h1>Информация про автокредитование</h1>
<p>Автокредит на новый автомобиль — это возможность сесть за руль прямо сейчас, не дожидаясь, когда вся нужная сумма будет на руках. Мы работаем с лучшими банками нашей страны.
  Большинство наших клиентов получают быстрое одобрение.
  Вы можете взять кредит, выбрав лучшее предложение из нескольких.</p>
<h3>Документы для получения кредита</h3>
<ul>
  <li>Основной — паспорт гражданина России;</li>
  <li>Дополнительный (на выбор) — ИНН, заграничный паспорт, удостоверение водителя, страховое свидетельство государственного пенсионного страхования.</li>
</ul>
<h3>Условия кредитования</h3>
<p>Банки, с которыми мы сотрудничаем, предъявляют к заемщикам следующие требования:</p>
<ul>
  <li>Российское гражданство;</li>
  <li>Возраст — от 21 года (на момент окончания срока выплаты по кредиту заемщику должно быть не более 75 лет);</li>
  <li>Постоянная регистрация в регионе России, где функционируют филиалы выбранного банка.</li>
</ul>
<h3>Выбор программ кредитования</h3>
<p>Современные банки предлагают разные кредитные программы, что позволяет купить автомобиль на наиболее выгодных условиях. Среди них — экспресс-кредитование, классический автокредит или кредитование «лайт». Каждая программа предусматривает возможность самостоятельного выбора условий, на основе которых впоследствии заключается соглашение:</p>
<ul>
  <li>Процентная ставка;</li>
  <li>Срок возврата;</li>
  <li>Сумма ежемесячного платежа;</li>
  <li>Итоговая сумма займа;</li>
  <li>Перечень нужных бумаг.</li>
</ul>
<h3>Процесс оформления</h3>
<p>Чтобы быстро и легко купить автомобиль в кредит без первоначального взноса, вам достаточно выбрать интересующий автомобиль и обратиться к наши сотрудникам. Вы можете рассмотреть несколько банковских предложений, самостоятельно выбрать условия и ставку, рассчитать ежемесячные платежи на калькуляторе. Наши сотрудники помогут вам подобрать наиболее выгодную программу, соответствующую вашим возможностям.
  При этом вам не придется ждать положительный ответ от выбранного банка. Забрать новый автомобиль с ПТС можно в день обращения, после документального оформления. Взять автокредит в нашем автохолдинге можно на срок до 7 лет. Услуга распространяется на любую модель и комплектацию, которая есть в наличии.</p>

