<h1>Пользовательское соглашение</h1>

  <h4>Общие условия</h4>
  <ul>
    <li>Настоящее пользовательское соглашение регулирует использование нашего сайта по продаже автомобилей.</li>
    <li>Используя наш сайт, вы принимаете настоящие условия и подтверждаете, что согласны с ними.</li>
  </ul>

  <h4>Информация о продукте</h4>
  <ul>
    <li>Мы стараемся предоставлять актуальную и наиболее полную информацию о продаваемых автомобилях. Обновление информации на сайте не может быть позднее 24 часов с момента наступления события или действия, повлекшее такое  изменение </li>
    <li>Фотографии и другие изображения могут отличаться от реальных характеристик автомобиля.</li>
  </ul>
  <h4>Продажа и финансирование</h4>
<ul>
  <li>Все цены указаны с учетом налогов и сборов.</li>
  <li>Мы предлагаем варианты финансирования, которые, к нашему сожалению, однако не гарантируем их доступность для каждого клиента.</li>
</ul>
  <h4>Ответственность</h4>
<ul>
  <li>Мы не несем ответственности за любые действия третьих лиц, не работающих у нас  и не гарантируем честность или
    надежность таких лиц.</li>
  <li>Мы всеми силами приветствуем претензионный способ разрешения конфликтов.</li>
  <li>Мы несем ответственность за всю информацию, размещенную на нашем сайте, за исключением случаев, обновление информации в срок до 24 часов с момента наступления события для обновления информации</li>
</ul>
  <h4>Изменение условий</h4>
<ul>
  <li>Мы оставляем за собой право изменять настоящее пользовательское соглашение в любое время, без предварительного
    уведомления.
  </li>
  <li>Используя наш сайт после внесения изменений, вы подтверждаете свое согласие с новыми условиями.</li>
</ul>
  <h4>Юридические условия</h4>
<ul>
  <li>Настоящее пользовательское соглашение регулируется и толкуется в соответствии с законодательством данной страны.
  </li>
  <li>Любые споры, связанные с использованием нашего сайта, сначала разрешаются в претензионном порядке. Срок ответа на претензию месяц.
    В случае невозможности разрешения спора в претензионном порядке спор передается в суд по месту регистрации юридического лица или места регистрации юридчиеского лица, если владельцем сайта выступает физическое лицо.
  </li>
</ul>
  <h4>Контакты</h4>
<ul>
  <li>Если у вас есть какие-либо вопросы или предложения по нашему сайту или пользовательскому соглашению, пожалуйста,
    свяжитесь с нами через нашу форму обратной связи или по указанной в контактах электронной почте.
  </li>
</ul>
  <h4>Принятие условий</h4>
<uL>
  <li>Используя наш сайт, вы подтверждаете, что прочитали и понимаете условия настоящего пользовательского соглашения и
    соглашаетесь с ними.
  </li>
</uL>



