
<header class="flex w-full justify-content-between align-items-center border-bottom-1 surface-border pb-5">
  <div>
    <h2 class="mt-0 mb-3 font-medium text-2xl text-900">Заявки на машины</h2>
    <p class="mt-0 mb-0 font-normal text-base text-500">Заявки оставленные клиентами</p>
  </div>

</header>


<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">

  <div class="surface-card shadow-2 p-3 border-round">
<p-table [value]="orders" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10]"
         [paginatorPosition]="'bottom'">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols" >{{col.header}}</th>
      <th>Действия</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-model>
    <tr>
      <td *ngFor="let col of cols" [pSortableColumn]="col.field">
        <ng-template [ngIf]="col.manager">
          {{model[col.field]?.name}}
        </ng-template>
        <ng-template [ngIf]="col.car">
          <a target="_blank"
            [routerLink]="['/car',model[col.field]?.model?.brand?.name, model[col.field]?.model?.name,model[col.field]?.year, model[col.field]?._id]">
            {{model[col.field]?.model?.brand?.name}} {{model[col.field]?.model?.name}}
          </a>
        </ng-template>
        <ng-template [ngIf]="col.date">
          {{model[col.field] | date : 'd MMMM y HH:mm:ss'}}
        </ng-template>
        <ng-template [ngIf]="!col.manager && !col.car && !col.date">
          {{model[col.field]}}
        </ng-template>
      </td>
      <td>
        <button type="button" pButton icon="pi pi-car" class="p-button-success"
                (click)="chooseCar(model.car)"></button>

        <button type="button" pButton icon="pi pi-phone" class="ml-2 p-button-success"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
  </div>
</div>
