<header class="flex w-full justify-content-between align-items-center border-bottom-1 surface-border pb-5">
  <div>
    <h2 class="mt-0 mb-3 font-medium text-2xl text-900">Бренды </h2>
    <p class="mt-0 mb-0 font-normal text-base text-500">Для добавления нового бренда в каталог нажмите кнопку "Добавить бренд"</p>
  </div>
  <button type="button"
          pButton icon="pi pi-plus"
          class="ui-button-success"
          label="Добавить бренд"
          (click)="createNewBrand()"></button>
</header>


<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">

  <div class="surface-card shadow-2 p-3 border-round">



<!--<button type="button"-->
<!--        pButton icon="pi pi-plus"-->
<!--        class="ui-button-success"-->
<!--        label="Добавить бренд"-->
<!--        (click)="createNewBrand()"></button>-->

<p-table [value]="carBrands" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10]"
         [paginatorPosition]="'bottom'">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols" [pSortableColumn]="col.field">{{col.header}}</th>
      <th>Действия</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-brand>
    <tr>
      <td *ngFor="let col of cols" >
        {{brand[col.field]}}
      </td>
      <td>
        <button type="button" pButton icon="pi pi-pencil" class="ui-button-success"
                (click)="onRowEditInit(brand)"></button>

      </td>
    </tr>
  </ng-template>
</p-table>
  </div>
</div>
