<!--<h3 class="title-">Машины</h3>-->
<!--<header class="flex w-full justify-content-between align-items-center border-bottom-1 surface-border pb-5">-->
<!--  <div>-->
<!--    <h2 class="mt-0 mb-3 font-medium text-2xl text-900">Listings</h2>-->
<!--    <p class="mt-0 mb-0 font-normal text-base text-500">Vivamus id nisl interdum, blandit augue sit amet, eleifend mi.</p>-->
<!--  </div>-->
<!--  <button pButton pRipple class="p-button-outlined" label="Report Issue"></button>-->
<!--</header>-->
<router-outlet></router-outlet>
