<div class="px-6 py-5">
  <div class="surface-card p-4 shadow-2 border-round">
    <div class="flex align-items-start flex-column lg:flex-row lg:justify-content-between">
      <div class="font-medium text-3xl text-900 mb-3">
        {{car?.model?.brand?.name}} {{car?.model?.name}}
      </div>
      <div class="mt-3 lg:mt-0">
        <button pButton
                pRipple
                icon="pi pi-envelope"
                class="p-button-rounded p-button-success"
                label="Оставить заявку"
                (click)="visible4 = true"></button>
        <!--      <button pButton pRipple label="Display" (click)="visible4 = true"></button>-->
      </div>
    </div>

    <div class="text-500 mb-5">{{car?.year}} года</div>

    <ul class="list-none p-0 m-0 border-top-1 border-300">
      <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
        <div class="text-500 w-full md:w-2 font-medium">Бренд</div>
        <div class="text-900 w-full md:w-10">{{car?.model?.brand?.name}}</div>
      </li>
      <li class="flex align-items-center py-3 px-2 flex-wrap">
        <div class="text-500 w-full md:w-2 font-medium">Модель</div>
        <div class="text-900 w-full md:w-10">{{car?.model?.name}}</div>
      </li>
      <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
        <div class="text-500 w-full md:w-2 font-medium">Год</div>
        <div class="text-900 w-full md:w-10">{{car?.year}}</div>
      </li>
      <li class="flex align-items-center py-3 px-2 flex-wrap">
        <div class="text-500 w-full md:w-2 font-medium">Цвет</div>
        <div class="text-900 w-full md:w-10">{{car?.color}}</div>
      </li>
      <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
        <div class="text-500 w-full md:w-2 font-medium">Цена</div>
        <div class="text-900 w-full md:w-10">{{car?.price}} руб</div>
      </li>
      <li class="flex align-items-center py-3 px-2 flex-wrap">
        <div class="text-500 w-full md:w-2 font-medium">Описание</div>
        <div class="text-900 w-full md:w-10">{{car?.info}}</div>
      </li>

      <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground" *ngIf="car?.img">
        <div class="text-500 w-full md:w-2 font-medium">Фото</div>
        <div class="text-900 w-full md:w-10">
          <p-image
            src="{{car?.img}}"
            alt="{{this.titleText}}" width="250" [preview]="true"></p-image>

        </div>
      </li>
    </ul>
  </div>
</div>


<div class="surface-section px-6 py-5">
  <div class="flex align-items-start flex-column lg:flex-row lg:justify-content-between">
    <div class="flex align-items-start flex-column md:flex-row">
      <!--      <img src="assets/images/blocks/avatars/circle/avatar-f-1@2x.png" class="mr-5 mb-3 lg:mb-0" style="width:90px;height:90px" />-->
      <div>
        <span class="text-900 font-medium text-3xl">Ваш менеджер {{car?.manager?.name}}</span>
        <!--        <i class="pi pi-star text-2xl ml-4 text-yellow-500"></i>-->
        <div class="flex align-items-center flex-wrap text-sm">
          <div class="mr-5 mt-3">
            <span class="font-medium text-500">Телефон</span>
            <div class="text-700 mt-2">{{car?.manager?.phone}}</div>
          </div>
          <div class="mr-5 mt-3">
            <span class="font-medium text-500">Почта</span>
            <div class="text-700 mt-2">{{car?.manager?.email}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3 lg:mt-0">
      <button pButton pRipple icon="pi pi-phone" class="p-button-rounded p-button-success mr-2"></button>
      <button pButton pRipple icon="pi pi-envelope" class="p-button-rounded p-button-help"
              (click)="visible4 = true"></button>
      <!--      <button pButton pRipple label="Display" (click)="visible4 = true"></button>-->
    </div>
  </div>
</div>


<p-dialog [(visible)]="visible4" appendTo="body"
          [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
          [style]="{width: '52vw'}"
          header="Завявка на машину {{titleText}}"
          [draggable]="false"
          [resizable]="false"
          [formGroup]="newOrderForm">
  <ng-template pTemplate="header">
    <div class="flex flex-column gap-2">
      <h1 class="m-0 text-900 font-semibold text-xl line-height-3">Оставить заявку на машину</h1>
      <span class="text-600 text-base">{{titleText}}</span>
    </div>
  </ng-template>
  <!--  <form class="flex flex-column gap-3 mt-3">-->
  <!--    <div>-->
  <!--      <label for="cardholder" class="block mb-1 text-color text-base">Cardholder Name</label>-->
  <!--      <span class="p-input-icon-left w-full">-->
  <!--                <i class="pi pi-user"></i>-->
  <!--                <input name="cardholder" type="text" class="w-full" id="cardholder" pInputText />-->
  <!--            </span>-->
  <!--    </div>-->
  <!--    <div>-->
  <!--      <label for="credit-card" class="block mb-1 text-color text-base">Credit Card Number</label>-->
  <!--      <span class="p-input-icon-left w-full">-->
  <!--                <i class="pi pi-credit-card"></i>-->
  <!--                <input name="cc" type="text" class="w-full" id="credit-card" pInputText [pKeyFilter]="ccRegex" [pValidateOnly]="true" placeholder="1234-1234-1234-1234"/>-->
  <!--            </span>-->
  <!--    </div>-->
  <!--    <div class="flex gap-3">-->
  <!--      <div class="w-full">-->
  <!--        <label for="cvc" class="block mb-1 text-color text-base">CVC</label>-->
  <!--        <span class="p-input-icon-left w-full">-->
  <!--                    <i class="pi pi-lock"></i>-->
  <!--                    <input name="cvc" type="text" [(ngModel)]="cvc" class="w-full" id="cvc" pInputText pKeyFilter="int" placeholder="123"/>-->
  <!--                </span>-->
  <!--      </div>-->
  <!--      <div class="w-full">-->
  <!--        <label for="expiration" class="block mb-1 text-color text-base">Expiration</label>-->
  <!--        <span class="p-input-icon-left w-full">-->
  <!--                    <i class="pi pi-clock"></i>-->
  <!--                    <input name="exp" type="text" [(ngModel)]="expiration" class="w-full" id="expiration" pInputText placeholder="12/22"/>-->
  <!--                </span>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </form>-->


  <div>

    <label for="name1" class="block text-900 font-medium mb-2">Ваше имя</label>
    <input id="name1" type="text" placeholder="Иван Иванов" pInputText class="w-full mb-3"
           formControlName="name">

    <label for="phone1" class="block text-900 font-medium mb-2">Ваш телефон</label>
    <input id="phone1" type="text" placeholder="+7(777)777-77-77" pInputText class="w-full mb-3"
           formControlName="phone">
  </div>

  <ng-template pTemplate="footer">
    <div class="flex gap-3 justify-content-end border-top-1 surface-border pt-5">
      <button pButton pRipple label="Попозже" (click)="visible4 = false" class="p-button-text"></button>
      <button pButton pRipple
              label="Отправить"
              icon="pi pi-car"
              (click)="click()"
              class="w-full p-button-rounded"
              [disabled]="!newOrderForm.valid"
      ></button>
    </div>
  </ng-template>
</p-dialog>



