<p-toast position="top-left"></p-toast>
<section class="surface-ground full-size-admin-page">

  <app-header></app-header>

    <main>
      <section class="surface-section px-6 py-5 " style="width:100%">
        <router-outlet></router-outlet>
      </section>
    </main>
    <app-footer></app-footer>

</section>
