.full-size-admin-page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  app-header {
    display: flex;
    //flex: 1 0 auto;
    width: 100%;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  }
  main {
    display: flex;
    flex: 1 0 auto;
  }
  app-footer {
    display: flex;
    flex-shrink: 0;
  }
}
