<header class="flex w-full justify-content-between align-items-center border-bottom-1 surface-border pb-5">
  <div>
    <h2 class="mt-0 mb-3 font-medium text-2xl text-900">Модели</h2>
    <p class="mt-0 mb-0 font-normal text-base text-500">Для добавления новой модели в каталог нажмите кнопку "Добавить модель"</p>
  </div>
</header>


<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">

  <div class="surface-card shadow-2 p-3 border-round w-full lg:w-6"  [formGroup]="newModelForm">

<!--<div class="surface-card p-4 shadow-2 border-round w-full lg:w-6"-->
<!--     [formGroup]="newModelForm">-->
  <div class="text-center mb-5">
    <!--    <img src="assets/images/blocks/logos/hyper.svg" alt="Image" height="50" class="mb-3">-->
    <div class="text-900 text-3xl font-medium mb-3">Добавление новой модели</div>
  </div>

  <div>

    <label for="brand" class="block text-900 font-medium mb-2">Название бренда</label>
    <p-dropdown id="brand"
                [options]="carBrands"
                placeholder="Выберите бренд"
                optionLabel="name"
                formControlName="brandID"
                optionValue="_id"
                class="w-full mb-3">
    </p-dropdown>

    <label for="name1" class="block text-900 font-medium mb-2 mt-2">Название модели</label>
    <input id="name1" type="text" placeholder="Название модели" pInputText class="w-full mb-3"
           formControlName="name">

    <button pButton pRipple label="Создать модель" icon="pi pi-car" class="w-full"
            [disabled]="!newModelForm.valid"
            (click)="click()"></button>
  </div>
</div>
</div>
