<div class="surface-section py-4 px-6 border-top-1 surface-border" style="width:100%">
  <div class="flex flex flex-column lg:flex-row lg:align-items-center justify-content-between">
    <div class="flex align-items-center">
      <a [routerLink]="['/']">
        <img src="assets/images/car-logo2.svg" alt="Image" height="40" class="mr-0 lg:mr-6">
      </a>
    </div>
    <div class="flex flex-column lg:flex-row lg:align-items-center lg:my-0 my-4">
      <a class="text-700 cursor-pointer mb-2 lg:mb-0" [routerLink]="['/about-us']">О НАС</a>
      <a class="text-700 cursor-pointer mb-2 lg:mb-0 ml-0 lg:ml-4" [routerLink]="['/terms']">Пользовательское соглашение</a>
      <a class="text-700 cursor-pointer mb-2 lg:mb-0 ml-0 lg:ml-4" [routerLink]="['/admin']">Личный кабинет компании</a>
    </div>
    <div class="flex align-items-center lg:justify-content-between">
      <a class="cursor-pointer text-500">
        <i class="pi pi-twitter text-xl"></i>
      </a>
      <a class="cursor-pointer text-500 ml-3">
        <i class="pi pi-telegram text-xl"></i>
      </a>
      <a class="cursor-pointer text-500 ml-3">
        <i class="pi pi-whatsapp text-xl"></i>
      </a>
    </div>
  </div>
</div>
