<header class="flex w-full justify-content-between align-items-center border-bottom-1 surface-border pb-5">
  <div>
    <h2 class="mt-0 mb-3 font-medium text-2xl text-900">Заполнение карточки машины</h2>
    <p class="mt-0 mb-0 font-normal text-base text-500">Для добавления новой машины в каталог заполните форму</p>
  </div>
</header>


<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
<div class="surface-card p-4 shadow-2 border-round w-full lg:w-6"
     [formGroup]="newCarForm">
  <div class="text-center mb-5">
    <!--    <img src="assets/images/blocks/logos/hyper.svg" alt="Image" height="50" class="mb-3">-->
    <div class="text-900 text-3xl font-medium mb-3">Добавление новой машины</div>
  </div>

  <div>

    <label for="brand" class="block text-900 font-medium mb-2">Бренд</label>
    <p-dropdown id="brand"
                [options]="carBrands"
                placeholder="Выберите бренд"
                optionLabel="name"
                formControlName="brandID"
                optionValue="_id"
                class="w-full mb-2">
    </p-dropdown>

    <ng-container *ngIf="newCarForm.get('brandID')?.value">
      <label for="model" class="block text-900 font-medium mb-2 mt-2">Название модели</label>
      <p-dropdown id="model"
                  [options]="carModelsMap[newCarForm.get('brandID')?.value]"
                  placeholder="Выберите модель"
                  optionLabel="name"
                  formControlName="modelID"
                  optionValue="_id"
                  class="w-full mb-2">
      </p-dropdown>
    </ng-container>

    <label for="color1" class="block text-900 font-medium mb-2 mt-2">Цвет</label>
    <p-dropdown id="color1"
                [options]="carColors"
                placeholder="Выберите цвет"
                optionLabel="name"
                formControlName="color"
                optionValue="value"
                class="w-full mb-3">
    </p-dropdown>
<!--    <input id="color1" type="text" placeholder="Укажите цвет машины" pInputText class="w-full mb-3"-->
<!--           formControlName="color">-->

    <label for="year1" class="block text-900 font-medium mb-2 mt-2">Год</label>
    <input id="year1" type="text" placeholder="Укажите год машины" pInputText class="w-full mb-3"
           formControlName="year">

    <label for="price1" class="block text-900 font-medium mb-2">Цена</label>
    <input id="price1" type="text" placeholder="999.00" pInputText class="w-full mb-3"
           formControlName="price">

    <label for="info1" class="block text-900 font-medium mb-2">Описание</label>
    <textarea id="info1" placeholder="Добавьте описание машины" pInputTextarea class="w-full mb-3"
              formControlName="info"></textarea>


    <label for="file" class="block text-900 font-medium mb-2">Фотография</label>
    <input type="file"
           class="w-full mb-3 "
           id="file"
           (change)="selectFile($event)"
           formControlName="file"
           accept="image/*"
           pInputText>

    <button pButton pRipple label="Добавить машину" icon="pi pi-car" class="w-full"
            [disabled]="!newCarForm.valid"
            (click)="click()"></button>
  </div>
</div>
</div>
