<div class="surface-card p-4 shadow-2 border-round w-full lg:w-6"
     [formGroup]="registrationForm">
  <div class="text-center mb-5">
    <img src="assets/images/car-logo2.svg" alt="Image" height="50" class="mb-3">
    <div class="text-900 text-3xl font-medium mb-3">Регистрация</div>
  </div>

  <div>
    <label for="name1" class="block text-900 font-medium mb-2">Полное имя</label>
    <input id="name1" type="text" placeholder="Полное имя" pInputText class="w-full mb-3"
           formControlName="name">

    <label for="phone1" class="block text-900 font-medium mb-2">Телефон</label>
    <input id="phone1" type="phone" placeholder="+79000000000" pInputText class="w-full mb-3"
           formControlName="phone">

    <label for="email1" class="block text-900 font-medium mb-2">Email</label>
    <input id="email1" type="email" placeholder="email@example.com" pInputText class="w-full mb-3"
           formControlName="email" email="true">

    <label for="password1" class="block text-900 font-medium mb-2">Пароль</label>
    <input id="password1" type="password" placeholder="пароль" pInputText class="w-full mb-3"
           formControlName="password">

    <label for="password2" class="block text-900 font-medium mb-2">Пароль повтор</label>
    <input id="password2" type="password" placeholder="повтор пароля" pInputText class="w-full mb-3"
           formControlName="passwordConfirm">

    <!--    <div class="flex align-items-center justify-content-between mb-6">-->
    <!--      <div class="flex align-items-center">-->
    <!--        <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>-->
    <!--        <label for="rememberme1" class="text-900">Remember me</label>-->
    <!--      </div>-->
    <!--&lt;!&ndash;      <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>&ndash;&gt;-->
    <!--    </div>-->

    <button pButton pRipple label="Регистрация" icon="pi pi-user" class="w-full"
            [disabled]="!registrationForm.valid"
            (click)="click()"></button>
  </div>
</div>
