<section class="flex flex-wrap flex-column md:flex-row md:align-items-center gap-2 py-5 serp2-filter">

  <p-multiSelect
    [options]="brands"
    [(ngModel)]="selectedBrands"
    [selectionLimit]="1"
    styleClass="w-full md:w-15rem"
    defaultLabel="Выберите бренд"
    optionLabel="name"
    optionValue="_id"
    selectedItemsLabel="{0} items selected"
    (onChange)="filterByBrand($event.value)">
  </p-multiSelect>

  <p-multiSelect
    [options]="carModelsForFilter"
    [(ngModel)]="selectedCarModels"
    styleClass="w-full md:w-15rem"
    defaultLabel="Выберите модели"
    optionLabel="name"
    optionValue="_id"
    (onChange)="filterByModels($event.value)"
    selectedItemsLabel="{0} моделей выбрано">
  </p-multiSelect>

</section>
<div class="flex w-full justify-content-center sm:justify-content-end align-items-center my-5">
</div>

<p-dataView #dv [value]="carsFiltered" [paginator]="true" [rows]="10" layout="list" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,25,50]"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
  <ng-template let-product pTemplate="listItem">
    <article
      class="flex flex-column md:flex-row w-full gap-3 p-3 border-round border-1 surface-border mb-3"
      style="cursor: pointer;"
      (click)="showCar(product)">
      <div class="relative" *ngIf="product.img">
        <img [src]="product.img" alt="Image" style="object-fit : cover;"
             class="border-round w-20rem h-15rem">
      </div>
      <div class="flex flex-column w-full gap-3">
        <div class="flex w-full justify-content-between align-items-center">
          <p class="font-bold text-lg mt-0 mb-0 mr-3">{{product.brand.name}}</p>
        </div>
        <p class="font-normal text-base text-600 mt-0 mb-0">{{product.model.name}}</p>

        <p class="text-base flex align-items-center text-900 mt-0 mb-1" *ngIf="product.info">
          <i class="pi pi-info-circle mr-2"></i>
          <span
            class="font-medium">{{ (product.info?.length > 450) ? (product.info | slice:0:450) + '...' : (product.info)}}</span>
        </p>
        <div class="flex flex-column md:flex-row flex-wrap md:justify-content-between mt-auto">
          <div class="flex gap-3">
            <p class="text-base flex align-items-center text-900 mt-0 mb-1">
              <i class="pi pi-calendar mr-2"></i>
              <span class="font-medium">{{product.year}}</span>
            </p>
            <p class="text-base flex align-items-center text-900 mt-0 mb-1">
              <i class="pi pi-color mr-2"></i>
              <span class="font-medium">{{product.color}}</span>
            </p>
          </div>
          <div class="flex align-items-center">
            <p class="font-semibold text-4xl text-900 mt-0 mb-0">{{product.price}}р</p>
          </div>
        </div>
      </div>
    </article>
  </ng-template>
</p-dataView>
