//.serp2-filter{
//  position: sticky;
//  position: -webkit-sticky; /* For macOS/iOS Safari */
//  top: 0; /* Sets the sticky toolbar to be on top */
//  z-index: 10000; /* Ensure that your app's content doesn't overlap the toolbar */
//}
