<header class="flex w-full justify-content-between align-items-center border-bottom-1 surface-border pb-5">
  <div>
    <h2 class="mt-0 mb-3 font-medium text-2xl text-900">Основные метрики</h2>
    <p class="mt-0 mb-0 font-normal text-base text-500">На странице представлена сводная статистика</p>
  </div>

</header>
<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-6">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Заказы</span>
            <div class="text-900 font-medium text-xl">{{orders.length}}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
               style="width:2.5rem;height:2.5rem">
            <i class="pi pi-dollar text-blue-500 text-xl"></i>
          </div>
        </div>
        <!--        <span class="text-green-500 font-medium">24 new </span>-->
        <!--        <span class="text-500">since last visit</span>-->
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Машины</span>
            <div class="text-900 font-medium text-xl">{{cars.length}}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
               style="width:2.5rem;height:2.5rem">
            <i class="pi pi-car text-blue-500 text-xl"></i>
          </div>
        </div>
        <!--        <span class="text-green-500 font-medium">24 new </span>-->
        <!--        <span class="text-500">since last visit</span>-->
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Бренды</span>
            <div class="text-900 font-medium text-xl">{{carBrands.length}}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
               style="width:2.5rem;height:2.5rem">
            <i class="pi pi-verified text-orange-500 text-xl"></i>
          </div>
        </div>
        <!--        <span class="text-green-500 font-medium">%52+ </span>-->
        <!--        <span class="text-500">since last week</span>-->
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Модели</span>
            <div class="text-900 font-medium text-xl">{{carModels.length}}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
               style="width:2.5rem;height:2.5rem">
            <i class="pi pi-inbox text-cyan-500 text-xl"></i>
          </div>
        </div>
        <!--        <span class="text-green-500 font-medium">520  </span>-->
        <!--        <span class="text-500">newly registered</span>-->
      </div>
    </div>
  </div>
</div>
