<p-toast position="top-left"></p-toast>

<section class="surface-ground full-size-page">
  <app-header></app-header>
  <main>
    <section class="surface-section px-6 py-5" style="width:100%">
      <header class="flex w-full justify-content-between align-items-center border-bottom-1 surface-border pb-5">
        <div>
          <h2 class="mt-0 mb-3 font-medium text-2xl text-900">{{title?.getTitle()}}</h2>
        </div>
      </header>
      <router-outlet></router-outlet>
    </section>
  </main>
  <app-footer></app-footer>
</section>
