.full-size-page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  app-header {
    display: flex;
    //flex: 1 0 auto;
    width: 100%;
  }
  main {
    display: flex;
    flex: 1 0 auto;
  }
  app-footer {
    display: flex;
    flex-shrink: 0;
  }
}
