<div class="surface-card p-4 shadow-2 border-round lg:w-6">
  <div class="text-center mb-5">
        <img src="assets/images/car-logo2.svg" alt="Image" height="50" class="mb-3">
    <div class="text-900 text-3xl font-medium mb-3">Добро пожаловать</div>
    <span class="text-600 font-medium line-height-3">Нет аккаунта?</span>
    <a
      class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
      [routerLink]="['registration']">
      Регистрация
    </a>
  </div>

  <div>
    <label for="email1" class="block text-900 font-medium mb-2">Email</label>
    <input id="email1" type="text" placeholder="email@example.com" pInputText class="w-full mb-3" [(ngModel)]="email">

    <label for="password1" class="block text-900 font-medium mb-2">Пароль</label>
    <input id="password1" type="password" placeholder="пароль" pInputText class="w-full mb-3" [(ngModel)]="password">

    <button pButton pRipple label="Войти" icon="pi pi-user" class="w-full"
            (click)="click()"></button>
  </div>
</div>
