/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
//@import 'bootstrap/scss/bootstrap';
@import "primeflex/primeflex.css";

body, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}


app-root, app-site, app-admin {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  //height: 100vh;
}

//.container {
//  max-width: 960px;
//}
//
//.pricing-header {
//  max-width: 700px;
//}
