<header class="flex w-full justify-content-between align-items-center border-bottom-1 surface-border pb-5">
  <div>
    <h2 class="mt-0 mb-3 font-medium text-2xl text-900">Модели</h2>
    <p class="mt-0 mb-0 font-normal text-base text-500">Для добавления новой модели в каталог нажмите кнопку "Добавить
      модель"</p>
  </div>
  <button type="button"
          pButton icon="pi pi-plus"
          class="ui-button-success"
          label="Добавить модель"
          (click)="createNewModel()"></button>
</header>


<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">

  <div class="surface-card shadow-2 p-3 border-round">


    <p-table [value]="carModels" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10]"
             [paginatorPosition]="'bottom'"

    >
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols">{{col.header}}

            <!-- brand filter -->
            <p-columnFilter field="brand.name"
                            matchMode="in"
                            display="menu"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                            class="ml-auto"
                            *ngIf="col.field === 'brand'">
              <ng-template pTemplate="header">
                <div class="px-3 pt-3 pb-0">
                  <span class="font-bold">Выберите Бренд</span>
                </div>
              </ng-template>
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [ngModel]="value" [options]="carBrandNames" placeholder="Любой"
                               (onChange)="filter($event.value)"
                >
                  <ng-template let-option pTemplate="item">
                    <div class="p-multiselect-representative-option">
                      <span class="ml-1">{{option}}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
            <!-- brand filter -->


            <!--        <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>-->
            <!--        <p-columnFilter type="text" field="name" display="menu"></p-columnFilter></th>-->
            <!--      <th>-->
            <!--        <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>-->
            <!--      </th>-->
            <!--      <th>Действия</th>-->
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-model>
        <tr>
          <td *ngFor="let col of cols" [pSortableColumn]="col.field">
            {{col.element ? model[col.field].name : model[col.field]}}

          </td>
          <!--      <td>-->
          <!--        <button type="button" pButton icon="pi pi-pencil" class="ui-button-success"-->
          <!--                (click)="onRowEditInit(brand)"></button>-->
          <!--      </td>-->
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
